<mat-sidenav-container [(hasBackdrop)]="hasBackdrop">
    <mat-sidenav [(opened)]="opened" [(mode)]="mode">
        <button mat-button (click)="closeSideNav()" class="filter-button">Done</button>
        <h3>Released In</h3>
        Starting Year:
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1"
            min="1" max="10"></mat-slider>
        Ending Year:
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1"
            min="1" max="10"></mat-slider>
        <h3>Score</h3>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1"
            min="1" max="10"></mat-slider>
        <h3>Genre</h3>
        <mat-selection-list #shoes>
            <mat-list-option>
                Adventure
            </mat-list-option>
            <mat-list-option>
                Adventure
            </mat-list-option>
            <mat-list-option>
                Adventure
            </mat-list-option>
            <mat-list-option>
                Adventure
            </mat-list-option>
            <mat-list-option>
                Adventure
            </mat-list-option>
            <mat-list-option>
                Adventure
            </mat-list-option>
            <mat-list-option>
                Adventure
            </mat-list-option>
        </mat-selection-list>

        <p>
            Genres selected: {{shoes.selectedOptions.selected.length}}
        </p>
        <!-- <button mat-raised-button color="primary">Filter</button> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-grid-list [(rowHeight)]="rowHeight" [(cols)]="cols"
            [(gutterSize)]="gutterSize">
            <button mat-button (click)="openSideNav()" class="filter-button">Filter</button>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image
                        src="https://image.tmdb.org/t/p/original/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg"
                        alt="Photo of a Shiba Inu">
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image
                        src="https://image.tmdb.org/t/p/original/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg"
                        alt="Photo of a Shiba Inu">
                </mat-card>
                <mat-grid-tile-footer>
                    <button mat-button matTooltipPosition="above"
                        matTooltip="Info about the action"><mat-icon>add</mat-icon></button>
                    <button mat-button matTooltipPosition="above"
                        matTooltip="Info about the action"><mat-icon>check</mat-icon></button>
                    <button mat-button (click)="openDialog()"><mat-icon>play_circle_outline</mat-icon></button>
                </mat-grid-tile-footer>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image
                        src="https://image.tmdb.org/t/p/original/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg"
                        alt="Photo of a Shiba Inu">
                </mat-card>
                <mat-grid-tile-footer>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-grid-tile-footer>
            </mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>
            </mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>

            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>