/* ==========================================================================
Main page styles
========================================================================== */

mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  width: 300px;
  background: rgb(197, 197, 201);
}

mat-grid-tile {
  background-color: lightblue;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
.example-card {
  max-width: 400px;
}

mat-grid-tile-footer {
  visibility: hidden;
}

mat-grid-tile:hover mat-grid-tile-footer {
  visibility: visible;
}

.filter-button {
  display: none;
}

@media screen and (max-width: 600px) {
  .filter-button {
    display: block;
    margin-bottom: 9px;
    background-color: rgb(226, 218, 218);
    font-weight: bold;
  }
}

mat-slider {
  width: 250px;
}
